<h2><%= @cocktail.name %></h2>
<p>Categoría: <%= @cocktail.category %></p>
<p>Ingredientes: <%= @cocktail.ingredients %></p>
<p>Receta: <%= @cocktail.recipe %></p>
<p>Precio: <%= @cocktail.price %> COP</p>
<p><%= @cocktail.photo_url %></p>
<p>Unidades dispobiles: <%= @cocktail.units %></p>

<p><%= link_to "Editar", edit_cocktail_path%>

<%= link_to "Borrar",
  cocktail_path(@cocktail),
  data: {turbo_method: :delete, turbo_confirm: "Deseas eliminar este artículo?"}
%>


<p><%= link_to "Regresar a la lista", cocktails_path%></p>
